body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}
#login, #cad_usuario {
 
    border-radius: 10px ;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 2px 20px 2px;
    background-color: rgba(232, 186, 238, 0.6);
}
#esqueci_senha{
    
    border-radius: 10px ;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 2px 20px 2px;
    background-color: rgba(232, 186, 238, 0.6);
}

#cad_pet{
    border-radius: 10px ;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 20px 10px;
    
}
.consulta_vacinacao{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px ;
    padding-bottom: 20px;
    background-color: rgba(113, 243, 113, 0.6);
}

.tutor_pet{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px ;
    padding-bottom: 20px;
    background-color: rgba(113, 243, 113, 0.6);
}

.pet{
    border: 2px solid #000;
    border-radius: 10px ;
    padding: 2px 2px 20px 2px;
    background-color: rgba(113, 243, 113, 0.6);
}
.header{
    position: relative;
    text-align: center;
}
.footer{
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding: 10px;

}

@media (max-width: 1024px){
    .container{
        width: 90%;
    }
}
@media(max-width:650px){
    .container{
        width: 90%;
    }
}
li{
    list-style: none;
}
h2{
    text-align: center;
}
